{{>home-nav}}

<h2 class="h1-responsive font-weight-bold text-center my-3">
    About Us
  </h2>
<div class="container">
<div class="card">
  <img src="asset/aboutus.jpg" class="card-img-top" alt="aboutusimage" >
  <div class="card-body ">
   
    <h5 class="card-title">Welcome to Our Story</h5>
    <p class="card-text">Welcome to Vista Speed Motors where automotive dreams come to
        life. With a passion for excellence, we redefine the car-buying
        experience, offering a curated selection of premium vehicles that blend
        style, performance, and innovation.</p>
    <h5 class="card-title">Our Mission</h5>
    <p class="card-text">At the heart of our showroom is a commitment to providing exceptional
        service and ensuring our customers drive away with more than just a car,
        they drive away with an unparalleled sense of satisfaction and joy.</p>
    <h5 class="card-title">Meet Our Team</h5>
    <p class="card-text">Get to know the talented individuals who drive our success. Meet our dedicated and passionate team behind the scenes.</p>
    <h6 class="card-title">Suhaan Tonse</h6>
    <p class="card-text">Co-Founder & CEO</p>
    <h6 class="card-title">S T</h6>
    <p class="card-text">Head of Operations</p>
    
  </div>
</div>
</div>





 