{{>home-nav}}

<h2 class="h1-responsive font-weight-bold text-center my-3">
    User Register
</h2>

  {{#if alert}}
  <div class="alert  alert-danger alert-dismissible fade show" role="alert">
    {{alert}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {{/if}}

<div class="container mt-5 ">
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/asset/login.jpg" class="img-fluid rounded-start py-5 mt-5" alt="userregisterimage">
    </div>
    <div class="col-md-8">
      <div class="card-body"> 
        <h5 class="card-title">User Register</h5>

      <form class="row g-3" autocomplete="off" class="needs-validation" action="/user/register" method="post">
  <div class="col-md-6">
    <label for="inputFirstName" class="form-label">First Name</label>
    <input type="text" class="form-control" id="inputFirstName" name="firstname" placeholder="Enter Your First Name" required>
  </div>
  <div class="col-md-6">
    <label for="inputLastName" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="inputLastName" name="lastname" placeholder="Enter Your Last Name" required>
  </div>
  <div class="col-12">
    <label for="inputPhone" class="form-label">Mobile No.</label>
    <input type="tel" class="form-control" id="inputPhone" name="phone" placeholder="Enter Your Mobile NO." required>
  </div>

  <div class="col-12">
    <label for="inputEmail" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Enter Your Email" required>
  </div>

  <div class="col-12">
    <label for="inputPassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Enter Your Password" required>
  </div>

    <div class="col-12">
    <label for="inputPassword2" class="form-label"> Confirm Password</label>
    <input type="password" class="form-control" id="inputPassword2" name="password2" placeholder="Confirm Your Password" required>
  </div>

  <div class="mb-3">
            <a href="/user/login" class="text-decoration-none">Already Have An Account.</a>
        </div>
        
       
  
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </div>
</form>
   
      </div>
    </div>
  </div>
</div>
</div>

